body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}

.lozza_logo {
	padding-top: 20px;
	padding-left: 20px;
	width: 142px;
	height: 30px;
}

.textframe {
	width: 280px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	margin: auto;
	line-height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	margin-top: -50px;
	margin-left: -140px;
}
 